<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PhotoSite3</title>
  <style>
    table, th, td {
      border: 1px black;
    }
    th, td {
      padding: 5px;
    }
  </style>
</head>
<body>
<h1>PhotoSite User List</h1>
<h3>6 Users </h3>
<table>
  <thead>
  <th>User</th>
  <th>First</th>
  <th>Last</th>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id, user_photos_path(user.id) %></td>
      <td><%= link_to user.first_name, user_photos_path(user.id) %></td>
      <td><%= link_to user.last_name, user_photos_path(user.id) %></td>
    </tr>
  <% end %>
</table>
</body>
</html>